aiohttp>=3.9,<4
feedparser>=6.0,<7
Pillow>=10.0,<11
fonttools>=4.47,<5
google-api-python-client>=2.100,<3
google-auth>=2.23,<3
google-auth-oauthlib>=1.1,<2
google-auth-httplib2>=0.1.1,<0.2
APScheduler>=3.10,<4
python-dotenv>=1.0,<2
tzdata; sys_platform == "win32"
